* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

main {
    max-width: 50rem;
    text-align: justify;
    text-justify: auto;
}

header {
    text-align: center;
}

#image {
    display: block;

    height: auto;
    width: 100%;

    max-width: 431px;
    margin: 1rem auto;
}

footer {
    margin-top: 2rem;
    text-align: center;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 1rem;
    background-color: #eee;
    border-radius: 10px;
}
